<table class="table is-hoverable is-fullwidth">
	<thead>
		<tr>
			<th>Student ID</th>
			<th>Date</th>
			<th>Lab</th>
			<th>Section</th>
			<th>Score</th>
			<th>TA</th>
		</tr>
	</thead>
	<tbody>
		{{#each entries}}
			<tr>
				<td>
					{{this.student_id}}
				</td>
				<td>
					{{trim this.date}}
				</td>
				<td>
					{{this.lab}}
				</td>
				<td>
					{{this.section}}
				</td>
				<td>
					{{this.score}}
				</td>
				<td>
					{{this.ta}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<a href="/admin/data" class="button is-text">Go back</a>
