<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{{#if success}}
	<nav id="success" class="navbar is-success">
		<div class="container">
			<div class="navbar-start" style="flex-grow: 1; justify-content: center;">
				<div class="notification is-success has-text-centered">
					<span class="icon">
						<i class="fa fa-thumbs-up"></i>
			    	</span>
			    	<span><strong>Successful {{success}}!</strong></span>
		    	</div>
			</div>
		</div>
	</nav>
	<script src="/javascripts/success.js"></script>
{{/if}}

<br />
<center><a href="/" class="tag is-primary is-large is-rounded cmulab">CMULab</a> &nbsp;<span class="title is-5"> {{course}}</span></center>

{{#if version.update }}
	<section class="section">
		<div class="container">
			<article class="message is-warning">
				<div class="message-header">
					<p>CMULab Update Available!</p>
					<span class="icon">
						<i class="fa fa-info-circle"></i>
			    	</span>
				</div>
				<div class="message-body">
					QuantumStack has released a <strong>new version</strong> of CMULab. You are currently using {{version.current}}, but <strong>{{version.latest}}</strong> is now available. Please visit our <a href="https://github.com/QuantumStack/CMULab">GitHub repository</a> to download the update and deploy it onto your CMULab instance. Go to the <a href="https://github.com/QuantumStack/CMULab/releases/tag/{{version.latest}}">release page</a> to see what's new.
				</div>
			</article>
		</div>
	</section>
{{else}}
	<br />
{{/if}}

<div class="tabs is-centered is-boxed is-small">
	<ul>
		<li class="{{#if isData}}is-active{{/if}}">
			<a href="/admin/data">
				<span class="icon is-small">
					<i class="fa fa-database"></i>
		    	</span>
				<span>Data</span>
			</a>
		</li>
		<li class="{{#if isPeople}}is-active{{/if}}">
			<a href="/admin/users">
				<span class="icon is-small">
					<i class="fa fa-users"></i>
		    	</span>
				<span>People</span>
			</a>
		</li>
		<li class="{{#if isConfig}}is-active{{/if}}">
			<a href="/admin/config">
				<span class="icon is-small">
					<i class="fa fa-cog"></i>
		    	</span>
				<span>Settings</span>
			</a>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div class="column is-mobile is-10-mobile is-offset-1-mobile {{#unless isData}}is-6 is-offset-3{{/unless}}">
			{{#if isPeople}}
				<div class="tabs is-small is-toggle is-toggle-rounded is-fullwidth">
					<ul>
						<li class="{{#unless isPeopleStudents}}is-active{{/unless}}">
							<a href="/admin/users">
								<span class="icon is-small">
									<i class="fa fa-shield-alt"></i>
						    	</span>
								<span>Users & Admins</span>
							</a>
						</li>
						<li class="{{#if isPeopleStudents}}is-active{{/if}}">
							<a href="/admin/students">
								<span class="icon is-small">
									<i class="fa fa-graduation-cap"></i>
						    	</span>
								<span>Students</span>
							</a>
						</li>
					</ul>
				</div>
			{{/if}}

			{{#if isData}}
				{{> data}}
			{{/if}}
			{{#if isDelete}} {{> delete}} {{/if}}
			{{#if isPeople}}
				{{#if isPeopleStudents}}
					{{> students}}
				{{else}}
					{{> users}}
				{{/if}}
			{{/if}}
			{{#if isConfig}} {{> config}} {{/if}}
		</div>
	</div>
</div>

<hr />
<div class="container">
	<p>
		{{> footer }}
	</p>
</div>
