<br />
<center><a href="/" class="tag is-primary is-large is-rounded">CMULab</a> &nbsp;<span class="title is-5"> {{course}}</span></center>

{{#if version.update}}
	<section class="section">
		<div class="container">
			<article class="message is-warning">
				<div class="message-header">
					<p>CMULab Update Available!</p>
				</div>
				<div class="message-body">
					QuantumStack has released a <strong>new version</strong> of CMULab. You are currently using {{version.current}}, but <strong>{{version.latest}}</strong> is now available. Please visit our <a href="https://github.com/QuantumStack/CMULab">GitHub repository</a> to download the update and deploy it onto your CMULab instance. Go to the <a href="https://github.com/QuantumStack/CMULab/releases/tag/{{version.latest}}">release page</a> to see what's new.
				</div>
			</article>
		</div>
	</section>
{{else}}
	<br />
{{/if}}

<div class="tabs is-centered is-boxed is-small">
	<ul>
		<li class="{{#if isLab}}is-active{{/if}}"><a href="/admin/lab">Assign Lab</a></li>
		<li class="{{#if isCsv}}is-active{{/if}}"><a href="/admin/csv">Get CSV</a></li>
		<li class="{{#if isDelete}}is-active{{/if}}"><a href="/admin/delete">Delete Data</a></li>
		<li class="{{#if isUsers}}is-active{{/if}}"><a href="/admin/users">Add/Remove Users</a></li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div class="column is-mobile is-10-mobile is-offset-1-mobile is-6 is-offset-3">
			{{#if isLab}} {{> lab}} {{/if}}
			{{#if isCsv}} {{> csv}} {{/if}}
			{{#if isDelete}} {{> delete}} {{/if}}
			{{#if isUsers}} {{> users}} {{/if}}
		</div>
	</div>
</div>

<hr />
<div class="container">
	<p>
		{{> footer }}
	</p>
</div>
