{{#if success}}
	<nav id="success" class="navbar is-success">
		<div class="container">
			<div class="navbar-start" style="flex-grow: 1; justify-content: center;">
				<div class="notification is-success has-text-centered">
					<span class="icon">
						<i class="fa fa-thumbs-up"></i>
			    	</span>
			    	<span><strong>Successful {{success}}!</strong></span>
		    	</div>
			</div>
		</div>
	</nav>
	{{> success}}
{{/if}}

<br />
<center><a href="/" class="tag is-primary is-large is-rounded cmulab">CMULab</a> &nbsp;<span class="title is-5"> {{course}}</span></center>

{{#if version.update }}
	<section class="section">
		<div class="container">
			<article class="message is-warning">
				<div class="message-header">
					<p>CMULab Update Available!</p>
					<span class="icon">
						<i class="fa fa-info-circle"></i>
			    	</span>
				</div>
				<div class="message-body">
					QuantumStack has released a <strong>new version</strong> of CMULab. You are currently using {{version.current}}, but <strong>{{version.latest}}</strong> is now available. Please visit our <a href="https://github.com/QuantumStack/CMULab">GitHub repository</a> to download the update and deploy it onto your CMULab instance. Go to the <a href="https://github.com/QuantumStack/CMULab/releases/tag/{{version.latest}}">release page</a> to see what's new.
				</div>
			</article>
		</div>
	</section>
{{else}}
	<br />
{{/if}}

<div class="tabs is-centered is-boxed is-small">
	<ul>
		<li class="{{#if isLab}}is-active{{/if}}">
			<a href="/admin/lab">
				<span class="icon is-small">
					<i class="fa fa-flask"></i>
		    	</span>
				<span>Assign Lab</span>
			</a>
		</li>
		<li class="{{#if isData}}is-active{{/if}}">
			<a href="/admin/data">
				<span class="icon is-small">
					<i class="fa fa-database"></i>
		    	</span>
				<span>Data</span>
			</a>
		</li>
		<li class="{{#if isPeople}}is-active{{/if}}">
			<a href="/admin/users">
				<span class="icon is-small">
					<i class="fa fa-users"></i>
		    	</span>
				<span>People</span>
			</a>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div class="column is-mobile is-10-mobile is-offset-1-mobile {{#unless isDataView}}is-6 is-offset-3{{/unless}}">
			{{#if isData}}
				{{#unless isDataView}}
					<div class="tabs is-small is-toggle is-toggle-rounded is-fullwidth">
						<ul>
							<li class="{{#unless isDataDelete}}is-active{{/unless}}">
								<a href="/admin/data">
									<span class="icon is-small">
										<i class="fa fa-eye"></i>
							    	</span>
									<span>View & Download</span>
								</a>
							</li>
							<li class="{{#if isDataDelete}}is-active{{/if}}">
								<a href="/admin/delete">
									<span class="icon is-small">
										<i class="fa fa-eraser"></i>
							    	</span>
									<span>Delete</span>
								</a>
							</li>
						</ul>
					</div>
				{{/unless}}
			{{/if}}

			{{#if isPeople}}
				<div class="tabs is-small is-toggle is-toggle-rounded is-fullwidth">
					<ul>
						<li class="{{#unless isPeopleStudents}}is-active{{/unless}}">
							<a href="/admin/users">
								<span class="icon is-small">
									<i class="fa fa-shield-alt"></i>
						    	</span>
								<span>Users</span>
							</a>
						</li>
						<li class="{{#if isPeopleStudents}}is-active{{/if}}">
							<a href="/admin/students">
								<span class="icon is-small">
									<i class="fa fa-graduation-cap"></i>
						    	</span>
								<span>Students</span>
							</a>
						</li>
					</ul>
				</div>
			{{/if}}

			{{#if isLab}} {{> lab}} {{/if}}
			{{#if isData}}
				{{#if isDataView}}
					{{> viewdata}}
				{{else}}
					{{#if isDataDelete}}
						{{> delete}}
					{{else}}
						{{> data}}
					{{/if}}
				{{/if}}
			{{/if}}
			{{#if isDelete}} {{> delete}} {{/if}}
			{{#if isPeople}}
				{{#if isPeopleStudents}}
					{{> students}}
				{{else}}
					{{> users}}
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>

<hr />
<div class="container">
	<p>
		{{> footer }}
	</p>
</div>
