{{#if (isNonEmpty flags)}}
	<nav id="flags" class="navbar is-danger">
		<div class="container">
			<div class="navbar-start" style="flex-grow: 1; justify-content: center;">
				<div id="flag-notification" class="notification is-danger has-text-centered">
					<span class="icon">
						<i id="flag-icon" class="fa fa-exclamation-triangle"></i>
					</span>
					<strong>
						{{#if flags.ghost}}
							Student is not registered for {{course}}.
						{{/if}}
						{{#if flags.attempt}}
							{{student}} was checked in {{prettyDiff flags.attemptDiff}} ago{{#if flags.attemptSection}} to section {{flags.attemptSection}}{{/if}} for {{flags.attemptScore}} points.
						{{/if}}
						{{#if flags.section}}
							This is wrong section time for {{student}}.
						{{/if}}
						{{#if allowOverride}}
							<u><a id="flag-toggle" onclick="flagOverride();">Override</a></u>
						{{/if}}
						<u><a onclick="flagDismiss();">Dismiss</a></u>
						<script src="/javascripts/flag-manipulation.js"></script>
					</strong>
				</div>
			</div>
		</div>
	</nav>
{{/if}}
<section id="main" class="hero is-light is-bold is-fullheight{{#if (isNonEmpty flags)}}-with-navbar{{/if}}">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-4 is-offset-4">
					<p class="is-pulled-right">
						<a href="/" class="tag is-primary is-large is-rounded cmulab">CMULab</a>
					</p>
					<h3 class="title is-5">{{course}} Check-in</h3>
					<h6 class="subtitle is-6">
						<span class="icon is-small">
							<i class="fa fa-user"></i>
				    	</span>
						<span>Student: {{student}}</span>
					</h6>

					<form method="post" action="/checkin/{{student}}">
						{{#if (isNonEmpty flags)}}
							<input type="hidden" name="flags" value="{{toString flags}}" />
							<input id="override" type="hidden" name="override" value="" />
						{{/if}}
						{{#if lab}}
							<div class="field">
								<label class="label">Lab</label>
								<div class="control">
									<input class="input" name="lab" type="number" placeholder="Example: 12">
								</div>
							</div>
						{{/if}}
						<div class="field">
							<label class="label">Section: {{> asterisk}}</label>
							<div class="control">
								<input class="input" name="section" type="text" placeholder="Example: A" value="{{#if section}}{{section}}{{/if}}" required>
							</div>
						</div>
						<div class="field">
							<label class="label">Score: {{> asterisk}}</label>
							{{#if radio}}
								<input id="score" class="is-hidden" name="score" type="number" required />
								<div class="columns is-multiline is-mobile">
									{{#each (range minscore maxscore)}}
										<div class="column">
											<a id="score-{{this}}" onclick="setScore({{this}});" class="button is-fullwidth is-large score-button">
												{{this}}
											</a>
										</div>
									{{/each}}
								</div>
								<script src="/javascripts/score-buttons.js"></script>
							{{else}}
								<div class="control">
									<input class="input" name="score" type="number" placeholder="Example: 3" min="{{minscore}}" max="{{maxscore}}" required>
								</div>
							{{/if}}
						</div>
						<div class="field">
							<div class="control">
								<button type="submit" class="button is-info is-fullwidth">
									<span class="icon">
										<i class="fa fa-check"></i>
							    	</span>
									<span>Submit!</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
		<p>
			<small>{{> footer}}</small>
		</p>
	</div>
</section>
