<!DOCTYPE html>
<html>
	<head>
		<title>CMULab for {{course}}</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/main.css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="title" content="CMULab for {{course}}">
		<meta name="description" content="Secure check-in and scoring. Easy for instructors, easy for students.">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{loc}}">
		<meta property="og:title" content="CMULab for {{course}}">
		<meta property="og:description" content="Secure check-in and scoring. Easy for instructors, easy for students.">

		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="{{loc}}">
		<meta property="twitter:title" content="CMULab for {{course}}">
		<meta property="twitter:description" content="Secure check-in and scoring. Easy for instructors, easy for students.">
	</head>
	<body>
		{{{body}}}
	</body>
</html>
